<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Writing Journal</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    
  </head>
  <body>

    <div class="navbar">
        <a href="/" class=" btn ">home</a>
        <a href="/allCatagories" class=" btn">catagories</a>
        <a href="/newTopic" class=" btn ">New Topic</a>
    </div>
